:root {
    --accent: #FFD479;

    --font-base: "Roboto", sans-serif;
    --font-accent: "Oswald", sans-serif;
}

body {
    background-color: #1F2A32;
    color: #FAFAF5;

    font-family: var(--font-base);
    font-weight: 300;
}

a {
    color: #FAFAF5;
}

/* .title-1 {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 96px;
    color: var(--accent);
} */

.container {
    max-width: 1200px;
    width: 100%;
    
    margin: 0 auto;
    padding: 0 15px;
}

.container-contact {
    max-width: 615px;
}